body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin: 5px;
}

.grid-container {
    flex: 0 1 auto;
    border: 1px solid #222;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.grid-box {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #eee;
}

.black-box {
    background-color: #000;
}

.button-bar {
    flex: auto;
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-start;
}

button {
    background-color: #eee;
    border: none;
    padding: 10px 15px;
}