body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin: 0 0 8px;
    padding: 0;
}

.grid-container {
    flex: auto;
    border: 2px solid #408de4;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.grid-box {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #eee;
}

.black-box {
    background-color: #000;
}

.button-bar {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

button {
    background-color: #408de4;
    border: none;
    padding: 8px 15px;
    margin: 0px 5px;
    color: #fff;
    font-weight: 800;
}

.footer {
    font-size: 12px;
    padding: 5px;
}